{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create New Post</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <h1>Create New Post</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <!-- 渲染表单，使用段落标签包装 -->
      <button type="submit">Save</button>
      <!-- 提交按钮 -->
    </form>
    <a href="{% url 'index' %}">Back to Home</a>
    <!-- 返回主页链接 -->
  </body>
</html>
